<nav id="navigation" class="navigation">
	<ul role="menu" class="navigation__list">
		<li class="navigation__item" role="menuitem">
			<a class="navigation__link" href="{{relative_link ''}}">X1 Family</a>
		</li>
		<li class="navigation__item" role="menuitem">
			<a class="navigation__link" href="{{relative_link 'products/carbon/'}}">X1 Carbon</a>
		</li>
		<li class="navigation__item" role="menuitem">
			<a class="navigation__link" href="{{relative_link 'products/yoga/'}}">X1 Yoga</a>
		</li>
		<li class="navigation__item" role="menuitem">
			<a class="navigation__link" href="{{relative_link 'products/tablet/'}}">X1 Tablet</a>
		</li>
		<li class="navigation__item" role="menuitem">
			<a class="navigation__link" href="{{relative_link 'products/thinkcentre/'}}">Thinkcentre X1</a>
		</li>
		<li class="navigation__item" role="menuitem">
			<a class="navigation__link" href="{{relative_link 'contact/'}}">Contact Lenovo</a>
		</li>
	</ul>
	<button id="navigation-button" class="navigation__button">Menu</button>
</nav>
